main {
    padding-top: 50px;
    .slider {
        width: 100%;
        background-size: cover;
        background-position: center;
        padding-top: 50px;
        .backgroundColor {
            width: 100%;
            padding: 100px 0;
            @extend .block-flex;
            background-color: $hover-color-opacity;
        }
        div {
            width: 49%;
        }
        .form {
            display: flex;
            justify-content: flex-end;
            padding-right: 100px;
        }
        form {
            width: 300px;
            height: 390px;
            border: 0px;
            background-color: $h-color;
            @include border-radius(20px);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            fieldset {
                @extend .block-flex;
                flex-direction: column;
                justify-content: space-around;
                border: 0px;
                margin: 30px;
                h3 {
                    color: $primary-color;
                    font-size: 25px;
                    margin-bottom: 20px;
                    text-align: left;
                    text-transform: none;
                }
                .message {
                    height: 50px;
                    width: 228px;
                    margin-bottom: 18px;
                    background-color: $input-color;
                    @include border-radius(10px);
                    border: 0px;
                    text-align: left;
                    font-size: 14px;
                }
                input,
                select {
                    @extend .message;
                }
                input[placeholder] {
                    padding-left: 12px;
                    color: $text-color-light;
                }
                select {
                    color: $text-color-light;
                    width: 240px;
                    padding-left: 10px;
                }
                button {
                    width: 170px;
                    height: 50px;
                    margin: 35px 0 0 70px;
                    @include border-radius(10px);
                    border: 0px;
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
                    color: $h-color;
                    background-color: $primary-color;
                    font-weight: 600;
                    text-align: center;
                    font-size: 16px;
                    cursor: pointer;
                }
                button:hover {
                    background-color: $hover-color;
                }
            }
        }
        .message1 {
            color: $h-color;
            text-align: left;
            margin-bottom: 20px;
        }
        .h1_site {
            h1 {
                @extend .message1;
                font-family: $font-h;
                font-size: 48px;
                text-transform: uppercase;
            }
            h4 {
                @extend .message1;
                margin-top: 10px;
            }
        }
    }
}