.glyphicon-search {
    font-size: 28px;
    color: $hover-color;
}

.gallery {
    margin-top: 125px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    div {
        background-size: auto 100%;
        height: 100%;
        .fon {
            justify-content: center;
            align-items: center;
            opacity: 0;
            .fon:hover {
                background-color: $hover-color-opacity;
                opacity: 1;
                cursor: pointer;
            }
            a {
                justify-content: center;
                align-items: center;
                width: 57px;
                height: 57px;
                @include border-radius(57px);
                background-color: $h-color;
            }
        }
    }
}